
<div class="softgrid-display" ng-class="{'softgrid-display-fullscreen': softgrid.fullscreen}">

    <div class="grid-controles">

        <div class="row" ng-hide="hide.all">

            <!-- Controle de Filtro -->

            <div class="col-md-3">

                <div ng-hide="hide.filter || hide.all">

                    <label>Filtrar</label>
                    <div class="input-group">
                        <span class="input-group-addon" id="filtro-addon"><span class="fa fa-search"></span></span>
                        <input type="text" class="form-control" ng-model="softFiltro" placeholder="Palavra-chave" aria-describedby="filtro-addon">
                    </div>

                </div>

            </div>

            <!-- Fim Controle de Filtro

            <!-- Controle de Linhas por Página -->

            <div class="col-md-2">

                <div class="form-group" ng-hide="hide.linesPage || hide.all">

                    <label>Linhas por página</label>

                    <div class="input-group" style="width: 120px;">

                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" ng-click="linesPerPage = linesPerPage - 10">-</button>
                        </span>

                        <input type="text" class="form-control" value="{{linesPerPage}}">

                        <span class="input-group-btn">
                                <button class="btn btn-default" type="button" ng-click="linesPerPage = linesPerPage + 10">+</button>
                            </span>

                    </div>

                </div>

            </div>

            <!-- Fim Controle de Linhas por Página -->

            <!-- Controle de Contagem e Menu -->

            <div class="col-md-2">

                <div ng-hide="hide.options || hide.all">

                    <label>Opções</label>
                    <div class="input-group">
                        <input type="text" class="form-control" aria-label="..." value="{{data.length}} encontrado(s)" disabled="true">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="fa fa-bars"></span></button>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li ng-repeat="item in menu">
                                    <a ng-click="item.function()"><span class="{{item.icon}}"></span> {{item.title}}</a>
                                </li>
                                <li role="separator" class="divider" ng-show="menu"></li>
                                <li><a ng-click="softGridToExcel()"><span class="fa fa-file-excel-o"></span> Gerar Excel</a></li>
                                <li><a ng-click="softgrid.fullscreen = softgrid.fullscreen ? false : true"><span class="fa fa-arrows-alt"></span> Tela Cheia</a></li>
                            </ul>
                        </div>
                    </div>

                    <div ng-if="!subgrid">
                    <a href="#" ng-show="false"  id="softDownload"></a>
                    </div>
                </div>

            </div>

            <!-- Fim Controle de Contagem e Menu-->

            <!-- Controle de Paginacao -->

            <div class="col-md-5">

                <nav aria-label="Page navigation" class="pull-right" ng-hide="hide.pagination || hide.all">
                    <label>Paginação</label>
                        <ul class="pagination">
                            <li ng-repeat="soft_page in soft_pages" ng-class="{'active': soft_page.active}">
                                <a ng-click="soft_ChangePage(soft_page.value)" ng-bind-html="soft_page.text"></a>
                            </li>
                        </ul>
                </nav>

            </div>

            <!-- Fim Controle Paginacao -->

        </div>

    </div>

    <div class="row">

        <div class="col-md-12">

                <div class="softgrid-container">

                    <div ng-style=" width ? { 'width': width + 'px' } : { 'width': '100%' }">

                        <table ng-attr-id="{{!subgrid ? 'none': 'softgrid'}}" class="softgrid {{template}}" >

                            <thead>

                                <th ng-show="actions.length > 0 || subgrid || options.selectable" style="text-align:center;">
                                    Ações
                                </th>

                                <th ng-repeat="col in cols" ng-show="!col.hide" style="text-align:center;">

                                  <span class="title" ng-click="$parent.softOrdem = col.item">{{col.title}}</span>
                                  <span class="fa fa-sort-alpha-asc"></span>
                                </th>

                            </thead>

                            <tbody>

                                <tr ng-init="$last ? softHook() : angular.noop()" ng-class="{'soft-row-striped': ($index%2)}" ng-repeat-start="row in (dataFiltered = (data | filter: softFiltro | limitTo: linesPerPage : ((soft_pagina_atual * linesPerPage) - linesPerPage) | orderBy: softOrdem)) track by $index">

                                    <td  ng-show="subgrid || actions.length > 0">

                                        <div class="input-group">

                                            <div class="input-group-btn" >

                                                <!-- botão para exibir sub tabela -->
                                                <button ng-show="subgrid" type="button" class="btn btn-default btn-sm" ng-click="showSubGrid = showSubGrid ? false : true">
                                                    <span class="fa fa-expand"></span>
                                                </button>

                                            </div>

                                            <div class="input-group-btn" >
                                                <div class="dropdown">

                                                    <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <span class="fa fa-bars"></span>
                                                    </button>

                                                    <ul class="dropdown-menu dropdown-menu-left">
                                                        <li ng-repeat="action in actions"><a ng-click="action.function(row)"><span class="{{action.icon}}"></span> {{action.title}}</a></li>
                                                    </ul>

                                                </div>
                                            </div>

                                        </div>

                                    </td>

                                    <!-- Coluna para checkbox -->
                                    <td style="text-align: center;" ng-show="options.selectable">
                                        <label class="switch">
                                            <input type="checkbox">
                                            <div class="slider round"></div>
                                        </label>
                                    </td>

                                    <!-- Colunas com os Dados da Grid -->
                                    <td ng-repeat="col in cols">

                                        <div ng-style="col.align ? { 'text-align': col.align} : { 'text-align': 'left' }"> <!--div para controlar o alinhamento-->

                                            <label ng-hide="col.popOver">
                                                <div ng-if="col.item(row)">

                                                    <span ng-bind-html="temp = softMask(col.type, (col.item(row) | limitTo: (col.maxLength ? col.maxLength : 999)))"></span>

                                                </div>
                                                <div ng-if="!col.item(row)">
                                                    <font color="red">x</font>
                                                </div>
                                            </label>

                                            <label style="text-decoration: underline; cursor: pointer" ng-show="col.popOver"   popover data-toggle="popover" data-trigger="hover" data-content="{{col.item(row)}}">{{(col.item(row) | limitTo: (col.maxLength ? col.maxLength : 999))}}</label>

                                        </div>

                                    </td>

                                </tr>
                                <tr ng-repeat-end="" ng-show="subgrid" ng-hide="!showSubGrid" ng-class="{'soft-row-striped': ($index%2)}"> <!-- Linha para Subtabela -->

                                    <td colspan="{{cols.length + 3}}">

                                        <div class="soft-subgrid-container">

                                            <div ng-if="subgrid">

                                                <softgrid  cols="subgrid.cols" data="row[subgrid.object]" hide="subgrid.hide" template="'soft-subgrid'"></softgrid>

                                            </div>

                                        </div>

                                    </td>

                                </tr>

                                <!-- Exibe uma linha caso não haja dados -->
                                <tr ng-show="!data || data.length <= 0" style="text-align: center;">

                                    <td colspan="{{cols.length + 3}} ">
                                    Não há dados a serem exibidos.
                                    </td>
                                </tr>

                            </tbody>

                        </table>

                    </div>

                </div>


        </div>

    </div>

    <div class="row" ng-hide="hide.pagination || hide.all">

        <div class="col-md-12">

            <nav aria-label="...">
                <ul class="pager" style="margin-top: 5px;">
                    <li class="previous"><button class="btn btn-default pull-left" ng-click="soft_ChangePage(-1)"><span aria-hidden="true">&larr;</span> Página anterior</button></li>
                    <li class="next"><button class="btn btn-default pull-right" ng-click="soft_ChangePage(0)">Próxima página <span aria-hidden="true">&rarr;</span></button></li>
                </ul>
            </nav>

        </div>

    </div>

</div>
