
<div class="softgrid-display" ng-class="{'softgrid-display-fullscreen': softgrid.fullscreen}" ng-style="sgControls.fullscreen && softgrid.fullscreen ? { 'z-index': sgControls.fullscreen.zindex, 'top': sgControls.fullscreen.top + 'px'} : ''">

    <div class="grid-controles" ng-style="sgControls.fullscreen && softgrid.fullscreen ? { 'z-index': (sgControls.fullscreen.zindex + 1), 'top': (sgControls.fullscreen.top) + 'px'} : ''">

        <div class="row" ng-hide="hide.all">

            <div class="col-md-3">

                <div ng-hide="hide.filter || hide.all">

                    <label>Filtrar</label>
                    <div class="input-group">
                        <span class="input-group-addon" id="filtro-addon"><span class="fa fa-search"></span></span>
                        <input type="text" class="form-control" ng-model="sg_filter" placeholder="Palavra-chave" aria-describedby="filtro-addon">
                    </div>

                </div>

            </div>

            <div class="col-md-2">

                <div class="form-group" ng-hide="hide.linesPage || hide.all" style="margin-bottom: 0;">

                    <label>Linhas por página</label>

                    <div class="input-group" style="width: 120px;">

                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" ng-click="sg_changeLinesPerPage(-1)">-</button>
                        </span>

                        <input class="form-control" value="{{sg_linesPerPage}}">

                        <span class="input-group-btn">
							<button class="btn btn-default" type="button" ng-click="sg_changeLinesPerPage(1)">+</button>
						</span>

                    </div>

                </div>

            </div>

            <div class="col-md-2">

                <div ng-hide="hide.options || hide.all">

                    <label>Opções</label>

                    <div class="input-group">
                        <input type="text" class="form-control" aria-label="..." value="{{data.length}} encontrado(s)" disabled="true">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="fa fa-bars"></span></button>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li ng-repeat="item in sgMenu">
                                    <a ng-click="item.function()"><span class="{{item.icon}}"></span> {{item.title}}</a>
                                </li>
                                <li role="separator" class="divider" ng-show="menu"></li>
                                <li><a ng-click="softGridToExcel()"><span class="fa fa-file-excel-o"></span> Gerar Excel</a></li>
                            </ul>
                        </div>
                    </div>

                    <div ng-if="!subgrid">
                    <a href="#" ng-show="false"  id="softDownload"></a>
                    </div>

                </div>

            </div>

            <div class="col-md-2">

                <div ng-hide="hide.fullscreen || hide.all">

                    <label>&nbsp;</label><br>
                    <button class="btn btn-default" ng-click="softgrid.fullscreen = softgrid.fullscreen ? false : true"><span class="fa fa-expand" ng-class="{'fa-compress': softgrid.fullscreen}"></span>

                        {{ softgrid.fullscreen ? (sgControls.fullscreen.on ? sgControls.fullscreen.on : 'Tela normal') : (sgControls.fullscreen.off ? sgControls.fullscreen.off : 'Tela cheia') }}

                    </button>

                </div>

            </div>

            <div class="col-md-3">

                <nav aria-label="Page navigation" class="pull-right" ng-hide="hide.pagination || hide.all">

                    <label>Paginação</label>

                        <ul class="pagination">

                            <li ng-repeat="soft_page in soft_pages" ng-class="{'active': soft_page.active}">
                                <a ng-click="sg_changePage(soft_page.value)" ng-bind-html="soft_page.text"></a>
                            </li>

                        </ul>

                </nav>

            </div>

        </div>

    </div>

    <div class="row">

        <div class="col-md-12">

                <div class="softgrid-container">

                    <div ng-style=" width ? { 'width': width + 'px' } : { 'width': '100%' }">

                        <table ng-attr-id="{{!subgrid ? 'none': 'softgrid'}}" class="softgrid {{template}}" >

                            <thead>

                                <th ng-show="actions.length > 0 || subgrid" style="text-align:center;   ">

                                </th>

								<th ng-show="sgControls.create || sgControls.read || sgControls.update || sgControls.delete" style="text-align: center;">
									Ações
								</th>

                                <th ng-repeat="col in cols" ng-show="!col.hide" style="text-align:center;">

                                  <span class="title" ng-click="sg_sort(col.item)">

									  {{col.title}}

									  <span ng-show="col.item == sg_orderBy" class="fa fa-sort-amount-asc" ng-class="{'fa-sort-amount-desc' : reverse}"></span>

								  </span>

                                </th>

								<th ng-show="sgControls.active" style="text-align: center;">
									{{sgControls.activeTitle}}
								</th>

                            </thead>

                            <tbody>

                                <tr ng-init="$last ? sg_hook() : angular.noop()" ng-class="{'soft-row-striped': ($index%2)}" ng-repeat-start="row in (dataFiltered = (data | filter: sg_filter | limitTo: sg_linesPerPage : ((sg_currentPage * sg_linesPerPage) - sg_linesPerPage))) track by $index" ng-style="sgControls.changeRowColor(row) === true && {'background-color': (sgControls.rowColor ? sgControls.rowColor :'#e59482')}" >

                                    <td  ng-show="subgrid || actions.length > 0" style="width: 200px; text-align:center;">

                                        <div class="input-group" style="width: 120px;">

                                            <div class="input-group-btn" >

                                                <!-- botão para exibir sub tabela -->
                                                <button ng-show="subgrid" type="button" class="btn btn-default btn-sm" ng-click="showSubGrid = showSubGrid ? false : true">
                                                    <span class="fa fa-expand" ng-class="{'fa-compress': showSubGrid}"></span>
                                                </button>

                                            </div>

                                            <div class="input-group-btn" >
                                                <div class="dropdown">

                                                    <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <span class="fa fa-bars"></span>
                                                    </button>

                                                    <ul class="dropdown-menu dropdown-menu-left">
                                                        <li ng-repeat="action in actions"><a ng-click="action.function(row)"><span class="{{action.icon}}"></span> {{action.title}}</a></li>
                                                    </ul>

                                                </div>
                                            </div>

                                        </div>

                                    </td>

									<!-- column to actions -->
									<td ng-show="sgControls.create || sgControls.read || sgControls.update || sgControls.delete" style="text-align:center;">

										<button ng-show="sgControls.create" type="button" class="btn btn-default btn-sm" ng-click="sgControls.create.action(row)" title="{{ sgControls.create.title ? sgControls.create.title : 'Criar' }}">
											<span class="fa fa-plus"></span>
										</button>

										<button ng-show="sgControls.read" type="button" class="btn btn-default btn-sm"   ng-click="sgControls.read.action(row)" title="{{ sgControls.read.title ? sgControls.read.title : 'Ver' }}">
											<span class="fa fa-search"></span>
										</button>

										<button ng-show="sgControls.update" type="button" class="btn btn-default btn-sm" ng-click="sgControls.update.action(row)" title="{{ sgControls.update.title ? sgControls.update.title : 'Atualizar' }}">
											<span class="fa fa-pencil"></span>
										</button>

										<button ng-show="sgControls.delete" type="button" class="btn btn-default btn-sm" ng-click="sgControls.delete.action(row)" title="{{ sgControls.delete.title ? sgControls.delete.title : 'Deletar' }}">
											<span class="fa fa-trash"></span>
										</button>

									</td>

                                    <!-- data columns-->
                                    <td ng-repeat="col in cols track by $index" ng-init="$parent.editing = false" class="opafion">

                                        <input ng-show="editing" ng-init="newvalue = col.item(row)" class="edit-input" ng-model="newvalue" ng-blur="sg_edit(row, col, newvalue, this)" style="width: {{col.edit.width}};">

                                        <div ng-show="!editing" ng-dblclick="sg_openEdit(this, $event)" ng-style="col.align ? { 'text-align': col.align} : { 'text-align': 'left' }">

                                            <label ng-hide="col.popOver" style="width: 100%;">

                                                {{temp = sg_mask(col.type, (col.item(row) | limitTo: (col.maxLength ? col.maxLength : 999)))}}&nbsp;

                                            </label>

                                            <label style="text-decoration: underline; cursor: pointer" ng-show="col.popOver"   popover data-toggle="popover" data-trigger="hover" data-content="{{col.item(row)}}">{{(col.item(row) | limitTo: (col.maxLength ? col.maxLength : 999))}}</label>

                                        </div>

                                    </td>

									<!-- Coluna para checkbox -->
									<td style="text-align: center;" ng-show="sgControls.active">
										<label class="switch">
											<input type="checkbox" ng-checked="sgControls.activeCol(row)" ng-click="sgControls.activeFunction(row)">
											<div class="slider round"></div>
										</label>
									</td>

                                </tr>
                                <tr ng-repeat-end="" ng-show="subgrid" ng-hide="!showSubGrid" ng-class="{'soft-row-striped': ($index%2)}"> <!-- Linha para Subtabela -->

                                    <td colspan="{{cols.length + 3}}">

                                        <div class="soft-subgrid-container">

                                            <div ng-if="subgrid">

                                                <softgrid  cols="subgrid.cols" actions="subgrid.actions" data="row[subgrid.object]" hide="subgrid.hide" template="'soft-subgrid'" sg-controls="subgrid.controls"></softgrid>

                                            </div>

                                        </div>

                                    </td>

                                </tr>

                                <!-- Exibe uma linha caso não haja dados -->
                                <tr ng-show="!data || data.length <= 0" style="text-align: center;">

                                    <td colspan="{{cols.length + 3}} ">
                                    Não há dados a serem exibidos.
                                    </td>
                                </tr>

                            </tbody>

                        </table>

                    </div>

                </div>

        </div>

    </div>

    <div class="row" ng-hide="hide.pagination || hide.all">

        <div class="col-md-12">

            <nav aria-label="...">
                <ul class="pager" style="margin-top: 5px;">
                    <li class="previous"><button class="btn btn-default pull-left" ng-click="sg_changePage(-1)"><span aria-hidden="true">&larr;</span> Página anterior</button></li>
                    <li class="next"><button class="btn btn-default pull-right" ng-click="sg_changePage(0)">Próxima página <span aria-hidden="true">&rarr;</span></button></li>
                </ul>
            </nav>

        </div>

    </div>

</div>

