
<div class="softgrid-display" ng-class="{'softgrid-display-fullscreen': softgrid.fullscreen}" ng-style="sgControls.fullscreen && softgrid.fullscreen ? { 'z-index': sgControls.fullscreen.zindex, 'top': sgControls.fullscreen.top + 'px'} : ''">

    <div class="grid-controles" ng-style="sgControls.fullscreen && softgrid.fullscreen ? { 'z-index': (sgControls.fullscreen.zindex + 1), 'top': (sgControls.fullscreen.top) + 'px'} : ''">

        <div class="row" ng-hide="hide.all">

            <div class="col-md-2">

                <div ng-hide="hide.filter || hide.all">

                    <label>Filtrar</label>

                    <div class="input-group">

                        <div class="input-group-btn">

                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="fa fa-search"></span></button>

                            <ul class="dropdown-menu dropdown-menu-left">

                                <li ng-repeat="col in cols track by $index">

                                    <a ng-click="sg_checkCol(col, $event)"> <input type="checkbox" ng-checked="col.checked" ng-click="sg_checkCol(col, $event)" /> {{col.title}} </a>

                                </li>

                            </ul>

                        </div>

                        <input type="text" class="form-control" ng-model="sg_filter" placeholder="Palavra-chave" aria-describedby="filtro-addon">

                    </div>

                </div>

            </div>

            <div class="col-md-6">

                <div class="row">

                    <div class="col-md-4">

                        <div class="form-group" ng-hide="hide.linesPage || hide.all || hide.pagination" style="margin-bottom: 0;">

                            <label>Linhas por página</label>

                            <div class="input-group" style="width: 120px;">

                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" ng-click="sg_changeLinesPerPage(-1)">-</button>
                        </span>

                                <input class="form-control" ng-model="sg_linesPerPageInput">

                                <span class="input-group-btn">
							<button class="btn btn-default" type="button" ng-click="sg_changeLinesPerPage(1)">+</button>
						</span>

                            </div>

                        </div>

                    </div>

                    <div class="col-md-4">

                        <div ng-hide="hide.options || hide.all">

                            <label>Opções</label>

                            <div class="input-group">
                                <input type="text" class="form-control" aria-label="..." value="{{filteredData.length}} encontrado(s)" disabled="true">
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="fa fa-bars"></span></button>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li ng-repeat="item in sgMenu">
                                            <a ng-click="item.function()"><span class="{{item.icon}}"></span> {{item.title}}</a>
                                        </li>
                                        <li role="separator" class="divider" ng-show="sgMenu"></li>
                                        <li ng-if="sgControls.select"><a ng-click="sg_selectAll()"><span class="fa fa-check"></span> Selecionar Todos</a></li>
                                        <li><a ng-click="softGridToExcel()"><span class="fa fa-file-excel-o"></span> Gerar Excel</a></li>
                                    </ul>
                                </div>
                            </div>

                            <div ng-if="!subgrid">
                                <a href="#" ng-show="false"  id="softDownload"></a>
                            </div>

                        </div>

                    </div>

                    <div class="col-md-4">

                        <div ng-hide="hide.fullscreen || hide.all">

                            <label>&nbsp;</label><br>
                            <button class="btn btn-default" ng-click="softgrid.fullscreen = softgrid.fullscreen ? false : true"><span class="fa fa-expand" ng-class="{'fa-compress': softgrid.fullscreen}"></span>

                                {{ softgrid.fullscreen ? (sgControls.fullscreen.on ? sgControls.fullscreen.on : 'Tela normal') : (sgControls.fullscreen.off ? sgControls.fullscreen.off : 'Tela cheia') }}

                            </button>

                        </div>

                    </div>

                </div>

            </div>

            <div class="col-md-4">

                <nav aria-label="Page navigation" class="pull-right" ng-hide="hide.pagination || hide.all">

                    <label>Paginação</label>

                        <ul class="pagination">

                            <li ng-repeat="soft_page in soft_pages" ng-class="{'active': soft_page.active}">
                                <a ng-click="sg_changePage(soft_page.value)" ng-bind-html="soft_page.text"></a>
                            </li>

                            <li ng-if="sgStore" title="Editar Colunas" ng-click="abrirConfiguracao()"><span class="fa fa-pencil"></span></li>

                        </ul>

                </nav>

            </div>

        </div>

    </div>

    <div class="row">

        <div class="col-md-12">

                <div class="softgrid-container">


                </div>

                <div class="softgrid-configuration scrolls">


                </div>
        </div>

    </div>

    <div class="row" ng-hide="hide.pagination || hide.all">

        <div class="col-md-12">

            <nav aria-label="...">
                <ul class="pager" style="margin-top: 5px;">
                    <li class="previous"><button class="btn btn-default pull-left" ng-click="sg_changePage(-1)"><span aria-hidden="true">&larr;</span> Página anterior</button></li>
                    <li class="next"><button class="btn btn-default pull-right" ng-click="sg_changePage(0)">Próxima página <span aria-hidden="true">&rarr;</span></button></li>
                </ul>
            </nav>

        </div>

    </div>

</div>

